#banner {
  background: #2e8b57;
  padding: 10px;
  border-bottom: 2px solid;
  font-size: 30px;
  font-family: "Times New Roman", serif;
  color: #000000;
  text-align: center;
  img {
    float: left;
  }

}

#notice {
  color: #000 !important;
  border: 2px solid #ff0000;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold small sans-serif;

}

#columns {
  background: #b0e0e6;

  #main{
    margin-left: 17em;
    padding: 1em;
    background: #fffaf0;
  }

  #side{
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #b0e0e6;

    ul {
      padding: 0;

      li{
        list-style: none;

        a {
          color: blue;
          font-size: small;
        }
      }
    }


  }
}










/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
