<p id="notice"><%= notice %></p>
<h2>Your Cart</h2>
<ul>
  <% for item in @cart.line_items %>
      <li><%= item.product.name %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
